<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            {% capture author_prev_url %}author/{{ page.author }}{% endcapture %}
            <a class="newer-posts" href="{{ author_prev_url | relative_url }}" title="Previous Page">&laquo; Newer Posts</a>
        {% else %}
            {% capture author_prev_url %}author/{{ page.author }}/page{{ paginator.previous_page }}/{% endcapture %}
            <a class="newer-posts" href="{{ author_prev_url | relative_url }}" title="Previous Page">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Page {{ paginator.page }} of {{ paginator.total_pages }} </span>
    {% if paginator.next_page %}
        {% capture author_next_url %}author/{{ page.author }}/page{{ paginator.next_page }}/{% endcapture %}
        <a class="older-posts" href="{{ author_next_url | relative_url }}" title="Next Page">Older Posts &raquo;</a>
    {% endif %}
</nav>
